.vscode
.DS_Store
*.tar.gz
*.pyc
*.bak
output/*
lib/*
src/cache/segcache/build
simulator
total_statistics_loader
dataset_loader
client
edge
cloud
evaluator
cliutil
#statistics_aggregator

# Prerequisites
*.d
*.Td
*.dpp
*.Tdpp

# Compiled Object files
*.slo
*.lo
*.o
*.opp
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
