# NOTE: gitignore uses / instead of . to indicate the root directory of the git project

.vscode
.DS_Store
*.tar.gz
*.pyc
*.bak
/data/*
/output/*
/lib/*
/src/cache/segcache/build
/single_node_prototype
/single_node_simulator
/total_statistics_loader
/dataset_loader
/client
/edge
/cloud
/evaluator
/cliutil
/trace_preprocessor
#/statistics_aggregator

# Prerequisites
*.d
*.Td
*.dpp
*.Tdpp

# Compiled Object files
*.slo
*.lo
*.o
*.opp
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
